body {
    font-family: "Arimo", sans-serif;
    background-color: #FDF5E6; /* Yellowing paper color */
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    text-transform: uppercase;
}

#container {
    text-align: center;
    max-width: 100%;
    width: 100%;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: white;
    border-radius: 10px;
}

#controls {
    margin-bottom: 20px;
}

#week-select {
    padding: 10px;
    font-size: 16px;
    border: 2px solid #723B9E;
    border-radius: 5px;
    color: white;
    background-color: #723B9E;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    color: white;
    background-color: #723B9E;
    cursor: pointer;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

td {
    width: 14.28%; /* 100% / 7 columns */
    height: 0;
    padding-bottom: 14.28%; /* Maintain square aspect ratio */
    border: 1px solid black;
    position: relative;
}

td.black {
    background-color: black;
}

td input {
    width: 100%;
    height: 100%;
    border: none;
    text-align: center;
    font-size: 24px;
    text-transform: uppercase;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

td .number {
    position: absolute;
    top: 2px;
    left: 2px;
    font-size: 10px;
    color: #999999;
}

#clues {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#clues div {
    width: 100%;
    margin-bottom: 20px;
}

#message {
    font-size: 18px;
    margin-top: 20px;
}

/* Larger screens */
@media (min-width: 600px) {
    #container {
        max-width: 800px;
    }

    #clues {
        flex-direction: row;
        justify-content: space-between;
    }

    #clues div {
        width: 45%;
        margin-bottom: 0;
    }
}
